
{block content}
<div id="content">
<span n:foreach="$modes as $key=>$mode"><a n:href="Popularity:default $key">{$mode}</a></span>
<table cellpadding="3" cellspacing="1" border="1">
<tr>
    <th scope="col">Jméno</th>
    <th scope="col">Popularita</th>
</tr>
<span n:foreach="$data as $row">
    <tr>
        <th scope='col'>{$row['autor']}</th>
        <th scope='col'>{$row['popularita']}</th>
    </tr>
</span>
</table>
</div>


