{block content}
{include default.latte}
<div id="content">
    <table cellpadding="3" cellspacing="1" border="1">
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Jméno</th>
    <th scope="col">Příjmení</th>
    <th scope="col">Datum narození</th>
    <th scope="col"></th>
    </tr>
<span n:foreach="$data as $row">
            <tr>
            <th scope='col'>{$row['id']}</th>
            <th scope='col'>{$row['jmeno']}</th>
            <th scope='col'>{$row['prijmeni']}</th>
            <th scope='col'>{$row['narozeni']|date:'%d.%m.%Y'}</th>
            <th scope='col'><a n:href=":AdministrationEditor:default $type, $row['id']">Upravit</a></th>
            </tr>
</span>
</table>
<a n:href=":AdministrationEditor:default $type">Přidat</a>
</div>