{block content}
{include default.latte}
<div id="content">
    <table cellpadding="3" cellspacing="1" border="1">
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Název</th>
    <th scope="col">Autor</th>
    <th scope="col">Rok vydání</th>
    <th scope="col"></th>
    </tr>
<span n:foreach="$data as $row">
            <tr>
            <th scope='col'>{$row['id']}</th>
            <th scope='col'>{$row['nazev']}</th>
            <th scope='col'>{$row['autor']}</th>
            <th scope='col'>{$row['rok_vydani']}</th>
            <th scope='col'><a n:href=":AdministrationEditor:default $type, $row['id']">Upravit</a></th>
            </tr>
</span>
</table>
<a n:href=":AdministrationEditor:default $type">Přidat</a>
</div>