{block content}
{include default.latte}
<div id="content">
    <table cellpadding="3" cellspacing="1" border="1">
    <tr>
        <th scope="col">ID výpůjčky</th>
        <th scope="col">ID knihy</th>
        <th scope="col">Název knihy</th>
        <th scope="col">Autor</th>
        <th scope="col">Rok vydání</th>
        <th scope="col">ID zákazníka</th>
        <th scope="col">Zákazník</th>
        <th scope="col">Datum půjčení</th>
        <th scope="col">Předpokládané datum vrácení</th>
        <th scope="col">Datum vrácení</th>
        <th scope="col"></th>
    </tr>
<span n:foreach="$data as $row">
            <tr>
                <th scope='col'>{$row['idvypujcky']}</th>
                <th scope='col'>{$row['idknihy']}</th>
                <th scope='col'>{$row['nazevknihy']}</th>
                <th scope='col'>{$row['autor']}</th>
                <th scope='col'>{$row['vydano']}</th>
                <th scope='col'>{$row['idzakaznika']}</th>
                <th scope='col'>{$row['zakaznik']}</th>
                <th scope='col'>{$row['pujceno']|date:'%d.%m.%Y'}</th>
                <th scope='col'>{$row['predpokladanevraceni']|date:'%d.%m.%Y'}</th>
                <th scope='col'>{$row['skutecnevraceni']|date:'%d.%m.%Y'}</th>
                <th scope='col'><a n:href=":AdministrationEditor:default $type, $row['idvypujcky']">Upravit</a></th>
            </tr>
</span>
</table>
<a n:href=":AdministrationEditor:default $type">Přidat</a>
</div>